<!-- <form action="https://pay.sandbox.realexpayments.com/pay" method="POST"> -->
<form [formGroup]="sandboxForm">
  <!-- TODO add add time stamp -->
  <input type="hidden" name="TIMESTAMP" formControlName="TIMESTAMP">

  <!-- TODO add merchant id-->
  <input type="hidden" name="MERCHANT_ID" formControlName="MERCHANT_ID">
  <!-- <input type="hidden" name="ACCOUNT" formControlName="ACCOUNT"> -->
  <input type="hidden" name="ORDER_ID" formControlName="ORDER_ID">
  <input type="hidden" name="AMOUNT" formControlName="AMOUNT">
  <input type="hidden" name="CURRENCY" formControlName="CURRENCY">
  <input type="hidden" name="AUTO_SETTLE_FLAG" formControlName="AUTO_SETTLE_FLAG">
  <!-- <input type="hidden" name="COMMENT1" formControlName="COMMENT1"> -->
  <input type="hidden" name="HPP_VERSION" formControlName="HPP_VERSION">
  <!-- <input type="hidden" name="HPP_CHANNEL" formControlName="HPP_CHANNEL"> -->
  <!-- <input type="hidden" name="HPP_LANG" formControlName="HPP_LANG"> -->
  <!-- Begin 3D Secure 2 Mandatory and Recommended Fields -->
  <input type="hidden" name="HPP_CUSTOMER_EMAIL" formControlName="HPP_CUSTOMER_EMAIL">
  <input type="hidden" name="HPP_CUSTOMER_PHONENUMBER_MOBILE" formControlName="HPP_CUSTOMER_PHONENUMBER_MOBILE">
  <input type="hidden" name="HPP_BILLING_STREET1" formControlName="HPP_BILLING_STREET1">
  <input type="hidden" name="HPP_BILLING_STREET2" formControlName="HPP_BILLING_STREET2">
  <input type="hidden" name="HPP_BILLING_STREET3" formControlName="HPP_BILLING_STREET3">
  <input type="hidden" name="HPP_BILLING_CITY" formControlName="HPP_BILLING_CITY">
  <input type="hidden" name="HPP_BILLING_POSTALCODE" formControlName="HPP_BILLING_POSTALCODE">
  <input type="hidden" name="HPP_BILLING_COUNTRY" formControlName="HPP_BILLING_COUNTRY">
  <!-- <input type="hidden" name="HPP_SHIPPING_STREET1" formControlName="HPP_SHIPPING_STREET1">
  <input type="hidden" name="HPP_SHIPPING_STREET2" formControlName="HPP_SHIPPING_STREET2">
  <input type="hidden" name="HPP_SHIPPING_STREET3" formController="HPP_SHIPPING_STREET3">
  <input type="hidden" name="HPP_SHIPPING_CITY" formController="HPP_SHIPPING_CITY">
  <input type="hidden" name="HPP_SHIPPING_STATE" formController="HPP_SHIPPING_STATE">
  <input type="hidden" name="HPP_SHIPPING_POSTALCODE" formController="HPP_SHIPPING_POSTALCODE">
  <input type="hidden" name="HPP_SHIPPING_COUNTRY" formController="HPP_SHIPPING_COUNTRY" value="840"> -->
  <!-- <input type="hidden" name="HPP_ADDRESS_MATCH_INDICATOR" formController="HPP_ADDRESS_MATCH_INDICATOR" value="FALSE">
  <input type="hidden" name="HPP_CHALLENGE_REQUEST_INDICATOR" formController="HPP_CHALLENGE_REQUEST_INDICATOR"> -->
  <!-- End 3D Secure 2 Mandatory and Recommended Fields -->
  <!-- Begin Fraud Management and Reconciliation Fields -->
  <!-- <input type="hidden" name="BILLING_CODE" formController="BILLING_CODE">
  <input type="hidden" name="BILLING_CO" formController="BILLING_CO">
  <input type="hidden" name="SHIPPING_CODE" formController="SHIPPING_CODE">
  <input type="hidden" name="SHIPPING_CO" formController="SHIPPING_CO">
  <input type="hidden" name="CUST_NUM" formController="CUST_NUM">
  <input type="hidden" name="VAR_REF" formController="VAR_REF"> -->
  <input type="hidden" name="PROD_ID" formController="PROD_ID">
  <!-- End Fraud Management and Reconciliation Fields -->
  <input type="hidden" name="MERCHANT_RESPONSE_URL" formController="MERCHANT_RESPONSE_URL">
  <input type="hidden" name="CARD_PAYMENT_BUTTON" formController="CARD_PAYMENT_BUTTON">
  <input type="hidden" name="CUSTOM_FIELD_NAME" formController="CUSTOM_FIELD_NAME">
  <input type="hidden" name="SHA1HASH" formController="SHA1HASH">
  <input type="button" (click)="onSubmit()" value="Click To Pay">
</form>

<!-- <form action="http://localhost:8080/api/v1/paymentGateway/came1" method="POST">
  <input type="hidden" name="username" value="MERCHANT_RESPONSE_URL">
  <input type="hidden" name="password" value="CARD_PAYMENT_BUTTON">
  <input type="submit" value="Click to check form">
</form> -->
<!-- <input type="button" (click)="onclick()" value="Click to check"> -->